openapi: '3.0.0'
info:
  version: 1.0.0
  title: Kottlin Tri API
  license:
    name: MIT
servers:
  - url: https://api.kottlin-tri.com/v1
paths:
  /repositories:
    get:
      summary: List all repositories in the documentation system. This endpoint retrieves a paginated list of all repositories available in your Kottlin Tri account. You can use query parameters to filter results by owner, visibility, or creation date. The response includes basic repository information such as name, description, and last updated timestamp.
      operationId: listRepositories
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of repositories
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new repository in the documentation system. This endpoint allows you to create a new repository for organizing your documentation. You must provide a unique name and can optionally include a description, visibility settings, and initial configuration options. The created repository will be returned with its unique identifier and metadata.
      operationId: createRepository
      responses:
        201:
          description: Repository creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repositories/{repositoryId}:
    get:
      summary: Retrieve detailed information for a specific repository. This endpoint fetches comprehensive details about a single repository including its configuration, contributors, and recent activity. Use this to get metadata, settings, and statistics for documentation management and analysis.
      operationId: getRepository
      parameters:
        - name: repositoryId
          in: path
          required: true
          description: The unique identifier of the repository to retrieve
          schema:
            type: string
      responses:
        200:
          description: Repository details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pages:
    get:
      summary: List all documentation pages across repositories. This endpoint provides a comprehensive view of all documentation pages in your account. You can filter by repository, status, or author to find specific content. Each page includes metadata like title, last modified date, and word count for content management.
      operationId: listPages
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of documentation pages
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pages'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Repository:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Repositories:
      type: array
      items:
        $ref: '#/components/schemas/Repository'
    Page:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
    Pages:
      type: array
      items:
        $ref: '#/components/schemas/Page'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string